<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <%= render 'layouts/admin_sidebar' %>
  <div class="content-wrapper p-5">
    <h3>User Management</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-data">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Cars Posted</th>
            <th>Cars Hired</th>
            <th>Optional Offers</th>
            <th width="18.8%">View</th>
            <!--<th></th>-->
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td> <%= user.email %></td>
              <td> <%= user.personal_mobile %></td>
              <td> <%= user.cars.count %></td>
              <td> <%= 0 %></td>
              <td> <%= user.offers ? "Yes" : "No" %></td>
              <td>
                <%= link_to 'Edit', edit_user_path(user), class:"btn btn-primary btn-sm mb-1" %>
                <%= link_to 'Show', user_path(user), class:"btn btn-primary btn-sm mb-1" %>
                <%= link_to "Delete", admin_destroy_user_path(user), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-sm btn-primary pf-btn" %>
              </td>
              <!--<td><%#= link_to '<i class="fas fa-trash icon-chat" style="font-size: 19px" title="Delete"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>