<%= render "layouts/profileheader",user: @user %>


<section class="section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="custom-box-details background-color-light col-lg-12 ml-5 float-right clearfix">
                    <div class="row pt-4">
                        <div class="col-md-8">
                    <h4>Personal Details</h4>
                    </div>
                    <div class="col-md-4 mb-3">
                    <% if current_user == @user %>
                        <%= link_to 'Update details', edit_user_path, class:"btn btn-sm btn-primary pf-btn" %>
                        <%= link_to 'Update password', edit_user_registration_path, class:"btn btn-sm btn-primary pf-btn" %>
                    <% end %>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">Email:</span>
                                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Phone No.:</span>
                                    <span class="custom-text-color-2">  <%= @user.personal_mobile %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Birthday:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_dob %></span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">House No:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_house_number %></span>
                                </li>

                                <li>
                                    <span class="text-color-dark">Street Name:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_street_name %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Suburb:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_suburb %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">State:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_state %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Postal Code:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_postcode %></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="custom-box-details background-color-light col-lg-12 ml-5 float-right clearfix">
                    <h4>Driver's License Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li class="my-4">
                                    <span class="text-color-dark">First Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_firstname %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Middle Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_middlename %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Last Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_lastname %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">License Number:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_number %></span>
                                </li>
                                <li class="mb-4">
                                    <span class="text-color-dark">State:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_state %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Country:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_country %></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 my-4 my-md-0">
                                    <p class="lead text-color-dark">License Front Image</p>
                                    <img src="<%= (@user.licensefront.url if @user.licensefront.present?) || " /missing.jpg " %>" class="img-fluid">
                                    </img>
                                </div>
                                <div class="col-md-6">
                                    <p class="lead text-color-dark">License Back Image</p>
                                    <img src="<%= (@user.licenseback.url if @user.licenseback.present?) || " /missing.jpg " %>" class="img-fluid">
                                    </img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% if current_user.admin %>
    <div class="container-fluid py-3">
      <div class="row">
      	 <div class="loginmodal-container loginmodal-container-new">
      		<div class="loginmodal-container-2">
             <h1 class="text-center">Admin Area</h1>
             <% if @user.licensefront.present? or @user.licenseback.present? %>
               <strong>Driver License Details: </strong>
               <%= (link_to "View License Front", @user.licensefront.url) if @user.licensefront.present? %>
               <%= (link_to "View License Back", @user.licensefront.url) if @user.licenseback.present? %>
              <% end %>
             
             <div class="comments mb-4">
             <strong>Comment:</strong>
                <%= form_for @user do |form| %>
                   <%= form.text_area :comment, class:"form-control mb-2" %>
                   <%= form.submit "Save", class:"btn btn-primary btn-sm" %>
                <% end %>
             </div>
             <div class="files mb-4">
    
                 <strong>List of Already Attached Files: </strong>
                <% attachments = @user.comment_files %>
                <% if attachments.present? %>
                  <table class="table table-bordered">
                      <thead>
                          <th>File Name</th>
                          <th colspan="2">View</th>
                      </thead>
                      <tbody>
                    <% attachments.each do |attachment| %>
                      <% if attachment.persisted?%>
                      <tr>
                      <td>
                        <%= attachment.file_file_name %> 
                      </td>
                      <td>
                        <%= link_to "View File", "#{attachment.file.url}",target: "_blank", class:"btn btn-primary btn-sm"  %>
                      </td>
                      
                        <td><%= link_to '<i class="fas fa-trash icon-chat" style="font-size: 19px" title="Delete"></i>'.html_safe, attachment,method: :delete %>
                      </td>
                      </tr>
                      <% end %>
                    <% end %>
                      </tbody>
                  </table>
                      
                  
                <% else %>
                  <p>No Files Attached Yet.</p>
                <% end %>
                <strong>Attach New Files: </strong>
                <%= form_for(CommentFile.new) do |f| %>
                    <!--<div class="input-file-container">  -->
                    <!--    <%#= f.file_field :file, required: true, class:"input-file", :data => { :buttonText => 'bar' } %>-->
                    <!--    <label tabindex="0" for="input-file" class="input-file-trigger bg-primary">Choose File</label>-->
                    <!--    <span class="file-return">No File Choosen</span>-->
                    <!--</div>-->
                    <%= f.file_field :file,required: true %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <br/>
                    <%= f.submit "Save", class:"btn btn-primary btn-sm" %>
                <% end %>

             </div>
    
          </div>
       </div>
    </div>
    </div>
<% end %>