<%= render "layouts/profileheader",user: @user %>


<section class="section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="custom-box-details background-color-light col-lg-12 ml-5 float-right clearfix">
                    <h4>Personal Details</h4>
                    <%= link_to 'Update details', edit_user_registration_path, class:"btn btn-sm btn-primary pull-right" %>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">Email:</span>
                                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Phone No.:</span>
                                    <span class="custom-text-color-2">  <%= @user.personal_mobile %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Birthday:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_dob %></span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">House No:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_house_number %></span>
                                </li>

                                <li>
                                    <span class="text-color-dark">Street Name:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_street_name %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Suburb:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_suburb %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">State:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_state %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Postal Code:</span>
                                    <span class="custom-text-color-2"><%= @user.personal_postcode %></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="custom-box-details background-color-light col-lg-12 ml-5 float-right clearfix">
                    <h4>Driver's License Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li class="my-4">
                                    <span class="text-color-dark">First Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_firstname %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Middle Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_middlename %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Last Name:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_lastname %></span>
                                </li>
                                <li>
                                    <span class="text-color-dark">License Number:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_number %></span>
                                </li>
                                <li class="mb-4">
                                    <span class="text-color-dark">State:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_state %></span>
                                </li>
                                <li class="my-4">
                                    <span class="text-color-dark">Country:</span>
                                    <span class="custom-text-color-2"><%= @user.driving_liecense_country %></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 my-4 my-md-0">
                                    <p class="lead text-color-dark">License Front Image</p>
                                    <img src="<%= (@user.licensefront.url if @user.licensefront.present?) || " /missing.jpg " %>" class="img-fluid">
                                    </img>
                                </div>
                                <div class="col-md-6">
                                    <p class="lead text-color-dark">License Back Image</p>
                                    <img src="<%= (@user.licenseback.url if @user.licenseback.present?) || " /missing.jpg " %>" class="img-fluid">
                                    </img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>