<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
   
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
        <a class="nav-link" href="/">
          <img alt="Tekkova" width="135" height="65" src="/logo-t.png">
        </a>
      </li>  
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/admin">
          <i class="fas fa-tachometer-alt"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users Management">
        <a class="nav-link" href="<%= users_path %>">
          <i class="fas fa-users"></i>
          <span class="nav-link-text">User Management</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cars Management">
        <a class="nav-link" href="/car_management">
          <i class="fas fa-car"></i>
          <span class="nav-link-text">Cars Management</span>
        </a>
      </li>
     
    </ul>
    
    
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">
          <i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
    </div>
  </nav>  
  <div class="content-wrapper mt-5">
  <div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Users</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="<%= users_path %>">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">Total Number of Users</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0">
          <%= User.count %>
        </h2>  
        </a>
      </div>
      </a>
    </div>
    
  </div>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Cars</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="/car_management">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">Published Cars</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0">
          <%= Car.completed.count %>
        </h2>  
        </a>
      </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="/car_management">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">Total Drafts</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0">
          <%= Car.draft.count %>
        </h2>  
        </a>
      </div>
      </a>
    </div>
    
  </div>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Cars by Type</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="/car_management">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">All Wheel Drive</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0">
          <%= Car.where(drive_type: "all_wheel").count %>
        </h2>  
        </a>
      </div>
      </a>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="/car_management">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">Front Wheel Drive</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0 m-0">
          <%= Car.where(drive_type: "front_wheel").count %>
        </h2>  
      </div>
        </a>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-3">
      <a class="no-color" href="/car_management">
      <div class="card text-center border border-primary bg-default o-hidden">
        <div class="card-body py-3">
          <div class="">Rear Wheel Drive</div>
        </div>
        <h2 class="card-footer text-primary clearfix z-1 text-center py-2 m-0">
          <%= Car.where(drive_type: "rear_wheel").count %>
        </h2>  
        </a>
      </div>
      </a>
    </div>
    
  </div>
</div>  
</div>