<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <%= render 'layouts/admin_sidebar' %>
  <div class="content-wrapper p-5 ">
    <div class="row">
      <div class="col-md-8">
        <h3>Cars Management</h3>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to 'Add New Car', new_car_path, class:"btn btn-sm btn-primary" %>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-bordered table-data">
        <thead>
          <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Status</th>
            <% if current_user.admin %>
              <th>Posted by</th>
            <% end %>
            <th>View</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cars.each do |car| %>    
            <% if can? :read, car %>
              <tr>
                <td><%= car.year %></td>
                <td> <%= car.make %></td>
                <td> <%= car.model %></td>
                <td><%= car.status.humanize %></td>
                <% if current_user.admin %>
                  <td> <%= car.user.name %></td>
                <% end %>
                
              <td><%= link_to 'Show', car_path(car), class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Edit'.html_safe, edit_car_path(car), class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to '<i class="fas fa-trash icon-chat" style="font-size: 19px" title="Delete"></i>'.html_safe, car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              
              </tr>
            <% end %>
          <% end %>
          
        </tbody>
      </table>
    </div>
</div>  
</div>

