<% if user_signed_in? and current_user.sign_in_count <= 1 %>
  <%= render 'cars/congrats' %>
<% end %>
<section id="banner" class="page-header custom-product">
  <div class="container-fluid section-banner">
    <div class="row">
      <div class="col-sm-12 py-2 text-center">
         <h3 class="text-light">Provide a car for every occasion</h3>
        <!--<h3 class="text-light">Have your car pay for itself </h3>-->
        <h3 class="text-light mb-3">Have your car pay for itself</h3>
        <a href="/how_it_works" class="btn btn-primary btn-lg mb-2">How Tekkova works</a>
        <div class="d-block">
          <a href="/listing_criteria" class="btn btn-primary btn-lg mb-3 mr-2">Listing Criteria</a>
          <a href="/cars/new" class="btn btn-primary btn-lg mb-3 mr-2 pl-4 pr-4">List your car</a>
        </div>
        <p class="lead bg-text-home mb-0 mt-5 text-black">
     Become one of our car hosts by the end of April 2023 and we will waive our fees for your first five bookings</p>
        <p class="text-light lead mb-3 font-weight-bold pb-3 mt-3 pt-1 mt-12-neg">List your car & start earning soon</p>
      </div>
    </div>
  </div>
</section>
<div class="calculator-section">
  <section class="estimate text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading-primary">
          Is it worth it?
          </h1>
          <h3>
          How much can I earn renting out my car?
          </h3>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <h5 class="mb-4">Agreed insurance value of your car</h5>
          <div id="slider"></div>
          <p class="mt-5">
            <input type="text" id="amount" class="text-center range-text calculator-field-trans" readonly>
            <label for="amount"></label>
          </p>
        </div>
        <div class="col-md-6">
          <h5 class="mb-4">Days per week your car is hired</h5>
          <div id="slider2"></div>
          <p class="mt-5">
            <input type="text" id="amount2" class="text-center lead range-text calculator-field-trans" readonly>
            <label for="amount2"></label>
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-4 d-none d-lg-block">
          <img src="/calc.img.png" class="img-fluid">
        </div>
        <div class="col-lg-4">
          <h4 class="text-center mb-4 mt-5">You could potentially earn</h4>
          <input type="text" id="amountf" class="text-center range-text-earn w-100 calculator-field-trans" readonly>
          <label for="amountf"></label>
          <h5>Annually</h5>
          <center> <a href="#" class="btn btn-primary mt-4 fees-btn-home" data-toggle="modal" data-target="#feesInfo">Fees & Important Information</a></center>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
          <img src="/calc-card.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="video-bg-home">
  <div class="container py-md-4">
    <div class="col-lg-6 mx-auto">
      <iframe src="https://player.vimeo.com/video/376773003?&muted=1" width="100%" class="iframe-video" frameborder="0" allow="autoplay; fullscreen" allowfullscreen muted></iframe>
      <center>
        <div class="bg-text-home2">
          <h5>Check our Listing criteria out for more information</h5>
        </div>
      </center>
    </div>
  </div>
</div>
<div class="home-bg-footer">
  <div class="container">
    <h2 class="text-center heading-primary mb-4 ">Will I be able to increase my rental price?</h2>
    <div class="col-lg-4 mx-auto">
      <h4 class="text-center">Dynamic Pricing</h4>
      <p class="">
        <span>
          Tekkova aims to offer the best rental price while paying car hosts more 
          than any other peer-to-peer care rental share marketplace operating in 
          Australia and ensuring car owners obtain bookings by staying competitive.
          At the end of every calendar month or four consecutive weeks, our top car
          host performers across Australia — 
        </span>
        <span class="show-text">
          those who receive and accept three 
          bookings or rent out their vehicle for three or more days per week — can 
          increase and set their own rental price by anywhere from $5 to $10 (the 
          exact figure will depend on the agreed insured value of the vehicle).
        </span>
        <span class=" mb-2 clickable btn-text-less text-primary text-center show-less">
          <span class="">
            More
          </span>
        </span>
      </p>
    </div>
  </div>
</div>
<!--
desktop section
-->
<section class="home-bg-footer d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="heading-primary mb-4">My Earnings</h2>
        <div class="feature-box feature-box-style-2 reverse mb-3 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-car f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">Rental Price</h4>
            <p class="mb-4">Tekkova considers your vehicle’s agreed insurance value, as certain cars 
              have more accessories or features than others within the same make and 
              model line. Level of demand for certain vehicles will impact daily rental 
              prices.</p>
          </div>
        </div>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
         <h2 class="heading-primary mb-4">How am I covered?</h2>
        <div class="feature-box feature-box-style-2 reverse mb-3 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-umbrella f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">Your car is protected</h4>
            <p class="mb-4">We are currently working with our insurance partners to have you covered
              against theft and exterior or interior damage. We will not operate our 
              services and enable bookings unless you are covered beforehand</p>
          </div>
        </div>
        </div>
      
       </div>
      <div class= "row">
      <div class="col-lg-5">
        <div class="feature-box feature-box-style-2 mb-3 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="far fa-credit-card f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">My Payment</h4>
            <p class="mb-4">Tekkova pays you fortnightly via direct transfer to your nominated bank 
              account or credit card. A Tekkova fee of 15% applies for all successful 
              bookings and will be deducted from your earnings; however, we have 
              waived our fees for the first five bookings for car owners who list their 
              vehicle with us by the end of April 2023.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        </div>
      <div class="col-lg-5">
        <div class="feature-box feature-box-style-2 mb-3 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-address-card f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">You are in control</h4>
            <p class="mb-4">Once you have accepted a booking request, you will be able to visit the 
              hirer’s profile and see relevant information such as their personal photo, 
              driver’s licence validity, and rating.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-bg-footer d-block d-lg-none">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="heading-primary mb-4">My Earnings</h2>
        <div class="feature-box feature-box-style-2 reverse mb-3 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-car f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">Rental Price</h4>
            <p class="mb-4">Tekkova considers your vehicle’s agreed insurance value, as certain cars 
              have more accessories or features than others within the same make and 
              model line. Level of demand for certain vehicles will impact daily rental 
              prices.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-3 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="far fa-credit-card f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">My Payment</h4>
            <p class="mb-4">Tekkova pays you fortnightly via direct transfer to your nominated bank 
              account or credit card. A Tekkova fee of 15% applies for all successful 
              bookings and will be deducted from your earnings; however, we have 
              waived our fees for the first five bookings for car owners who list their 
              vehicle with us by the end of April 2023.</p>
          </div>
        </div>
      </div>
      <!--
      <div class="col-lg-4 mt-md-5 pt-md-5 pb-5">
        <img src="logo-t2.png" class="img-fluid mockup-landing-page appear-animation" alt="Porto" data-appear-animation="zoomIn" data-appear-animation-delay="300">
      </div>
      -->
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        <h2 class="heading-primary mb-4">How am I covered?</h2>
        <div class="feature-box feature-box-style-2 reverse mb-3 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-umbrella f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3">Your car is protected</h4>
            <p class="mb-4">We are currently working with our insurance partners to have you covered
              against theft and exterior or interior damage. We will not operate our 
              services and enable bookings unless you are covered beforehand.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-3 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="d-table-cell pr-3">
            <i class="fas fa-address-card f-40 va-16 text-primary"></i>
          </div>
          <div class="d-table-cell">
            <h4 class="mb-3 align-payment-text">You are in control</h4>
            <p class="mb-4">Once you have accepted a booking request, you will be able to visit the 
              hirer’s profile and see relevant information such as their personal photo, 
              driver’s licence validity, and rating.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
mobile section
-->

<div class="city-section container">
  <h3 class="heading-primary text-center mb-4">
    List your car either in
  </h3>
  <div class="row">
    <div class="col-lg-12 col-12">
      <a href="<%= new_car_path %>" class="home-link">
        <div class="perth-city text-center text-white mt-4">
          <div class="city-overlay">
            <h2 class="mb-0">Sydney</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-12 col-12">
      <a href="<%= new_car_path %>" class="home-link">
        <div class="sydney-city text-center text-white mt-4">
          <div class="city-overlay">
          <h2 class="mb-0">Perth</h2>
            
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-12 col-12">
      <a href="<%= new_car_path %>" class="home-link">
      <div class="melbourne-city text-center text-white mt-4">
        <div class="city-overlay">
          <h2 class="mb-0">Melbourne</h2>
        </div>
      </div>
    </a>
    </div>
    <div class="col-lg-12 col-12">
      <a href="<%= new_car_path %>" class="home-link">
      <div class="goldcoast-city text-center text-white mt-4">
        <div class="city-overlay">
          <h2 class="mb-0">Gold Coast</h2>
        </div>
      </div>
    </a>
    </div>
    <div class="col-lg-12 col-12">
      <a href="<%= new_car_path %>" class="home-link">
      <div class="brisbane-city text-center text-white mt-4">
        <div class="city-overlay">
          <h2 class="mb-0">Brisbane</h2>
        </div>
      </div>
    </a>
    </div>
  </div>
  <div class="test1">
  </div>
</div>
<div class="home-bg-footer">
  <div class="container">
    <h2 class="text-center heading-primary mb-4 ">
      What information do I need  to provide?
    </h2>
    <center><img src="/Listing_criteria_photo.png" alt="" class="img-fluid"></center>
    <div class="col-lg-7 mt-4 mx-auto">
      <div class="row">
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-detail-box">
              <div class="home-box-count-detail">3</div>
              Car details
            </div>
          </center>
        </div>
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-picture-box">
              <div class="home-box-count-picture">4</div>
              Car Pictures
            </div>
          </center>
        </div>
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-road-box">
              <div class="home-box-count-road">5</div>
              Road use Preference
            </div>
          </center>
        </div>
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-personal-box">
              <div class="home-box-count-personal">6</div>
              Personal <br> details
            </div>
          </center>
        </div>
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-driver-box">
              <div class="home-box-count-driver">7</div>
              Driver <br> licence details
            </div>
          </center>
        </div>
        <div class="col-md-4 col-6">
          <center>
            <div class="home-car-pick-box">
              <div class="home-box-count-pick">8</div>
              Availability & <br> pick up
            </div>
          </center>
        </div>
      </div>
    </div>
    <center>
    <div class="text-white bg-grren">
      <h3 class="text-center mt-2">List your Car below</h3>
    </div>
  </center>
  </div>
</div>

<div class="dark-background-section">
    <div class="container text-center text-light">
      <h1 class="f-32 mb-3">List your car today</h1>
      <h3 class="text-light ">All makes & models welcome</h3>
      <div class="mt-100-dark">
        <a href="/how_it_works" class="btn btn-primary btn-lg mb-2">How Tekkova works</a><br>
        <a href="/listing_criteria" class="btn btn-primary btn-lg mb-3 mr-2">Listing Criteria</a>
        <a href="/cars/new" class="btn btn-primary btn-lg mb-3 mr-2 pl-4 pr-4">List your car</a>
      </div>
     
    </div>
</div>
<!--<= render 'cars/policies_popup2' %>-->
<!--fees and important information modal-->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="feesInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-lg-fees" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Fees & Important Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-primary text-white">
        <p>Please note that the above potential earnings is subject to deductions of a
          15% Tekkova fee and an additional insurance fee of 5%; however, 
          insurance fees may vary from one state to the next based on the car’s 
          postcode location. Tekkova gives you the option to choose what days your
          car is available weekly, from 3 to 7 days per week, to be rented out. 
          However, we encourage our hosts to select availability days from 5 to 7 
          days per week to increase chances of receiving bookings, thus increasing 
          their potential earnings.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".show-text").hide();
    $(".clickable").click(function() {
      if ($('.show-text').is(':hidden')) {
        $('.show-text').show();
        $(".clickable i").addClass('fa-chevron-up');
        $(".clickable i").removeClass('fa-chevron-down');
        $(".clickable span").text("Less");
      } else {
        $('.show-text').hide();
        $(".clickable i").removeClass('fa-chevron-up');
        $(".clickable i").addClass('fa-chevron-down');
        $(".clickable span").text("More");
      }
    });
  });
</script>