<div class="container-fluid">
<div class="row mt-2">
<% if current_user.cars.count < 2 %>
<div class="col-md-12 btn-group btn-breadcrumb car-details-tabs main-tabs">
<% else %>
<div class="col-lg-6 offset-lg-3 btn-group btn-breadcrumb car-details-tabs main-tabs">
<% end %>
    <a href="<%= car_steps_path(step: 1,id: @car.id)  %>" class="btn btn-primary active car_details">Car Details</a>
    <a href="#" class="btn btn-default car_pictures" style="margin-left: -5px !important;">Car Pictures</a>
    <a href="#" class="btn btn-default car_preference" style="margin-left: -5px !important;">Car Preference</a>
    <% if current_user.cars.count < 2 && scenario == "new"  %>
      <a href="#" class="btn btn-default presonal_details" style="margin-left: -5px !important;">Personal Details</a>
      <a href="#" class="btn btn-default driver_license" style="margin-left: -5px !important;">Driver Licence</a>
      <a href="#" class="btn btn-default availibility_pickup" style="">Availability & Pickup</a>
      <a href="#" class="btn btn-default research_development no-link" style="margin-left: -5px !important;">Research & Development</a>
    <% end %>
</div>
</div> 
</div>
<h2 class="heading mt-4">Car Details</h2>
<div class="w-100">
<img src="/cr-d2.jpg" class="img-fluid background-bg-arow">
</div>
<div class="container pt-4">
<div id="multi-form-d" class="car-details">
<%= form_for(@car) do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="wizard">

    <section>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <%= form.label :year %>
        <%#= form.text_field :year %>
        <%= form.select :year, (2013..2020).to_a, prompt: "Select Year"%>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :make %> 
        <%= form.text_field :make, required: true %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :model %> 
        <%=  form.text_field :model, required: true  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :series %> 
        <%=  form.text_field :series, required: true  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :odometer %> 
        <%=  form.text_field :odometer, id: 'add_km', onfocusout:"auto_km()", required: true  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <label>Transmission </label>
         <%= form.select :trans_mission, ["Automatic",  "Manual"] %>
        <!--<select>-->
        <!--  <option>Automatic</option>-->
        <!--  <option>Manual</option>-->
        <!--</select>-->
        <%#=  form.text_field :trans_mission  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :body_type %> 
        <%#= form.text_field :body_type  %>
        <%= form.select :body_type, [" Convertible",  "Coupe",  "Sedan",  "SUV",  "Wagon"], prompt: "Select Body Type" %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :colour %> 
        <%= form.text_field :color, required: true  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :fuel_type %> 
        <%#= form.text_field :fuel_type  %>
        <%= form.select :fuel_type, ["Unleaded 91",  "Unleaded 95",  "Unleaded 98",  "LPG",  "Electrical"], prompt: "Select Fuel Type" %>
      </div>
      <div class="col-lg-3 col-md-6">
        <label>Power (kW)</label>
        <%= form.text_field :power, required: true  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :number_of_seats %> 
        <%= form.text_field :number_of_seats, required: true  %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label>Number of Cylinders</label>
        <%= form.number_field :cylinders,min: 0,class: "form-control", required: true %>
      </div>
      <div class="col-md-6">
        <label>Engine Size (Litres)</label>
        <%= form.number_field :engine_size,min: 0,step: 0.1,class: "form-control", required: true %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :drive_type %> </h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4">
        <%= form.radio_button :drive_type, 'All wheel drive', id:"all-wheel-drive", required: true %> 
        <%= label :drive_type, 'All wheel drive', for:"all-wheel-drive" %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'Front wheel drive', id:"front-wheel-drive", required: true %>
        <%= label :drive_type, 'Front Wheel Drive', for:"front-wheel-drive" %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'Rear wheel drive', id:"rear-wheel-drive", required: true %>
        <%= label :drive_type, 'Rear Wheel Drive', for:"rear-wheel-drive" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5>Please provide a description of your car to renters</h5>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">
        <span id="count_text"></span>
        <%= form.text_area :description, class:"words_count",  rows:"4", placeholder:"Please provide a description as it will appear on your car advertised profile to renters to see before booking, these may include vehicle modifications or any particular notes that you may have regrading your vehicle"  %>
      </div>
    </div> 
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :car_features %></h5>
      </div>
    </div>  
    <div class="checkbox-form f-car">
    <%= form.collection_check_boxes(:car_feature_ids, CarFeature.all, :id, :name) do  |f| %>
      <%= f.label class: "col-3" do %>
        <%= f.check_box + f.text%>
      <% end %>
    <% end %>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <label>Licence Plate Number</label> 
        <%= form.text_field :liecense_plate_number  %>
      </div>
      <div class="col-md-4">
        <%= form.label :state %> 
        <%#= form.text_field :state  %>
        <%= form.select :state, ["New South Wales","Northern Territory","Queensland","South Australia","Tasmania","Victoria","Western Australia"], prompt: "Select State" %>
      </div>
      <div class="col-md-4">
        <%= form.label :insurance_provider %> 
        <%= form.text_field :insurance_provider  %>
      </div>
      
      <div class="col-md-4">
        <label>Agreed insurance value($)</label>
        <%#= form.label :agreed_insurance_value %> 
        <%= form.number_field :agreed_insurance_value, class:"currency_1", placeholder: "$"%>
      </div>
    </div>
    </section>
    
  </div>
    <%= form.hidden_field :step, value: 1 %>

  <div class="mt-2 mb-5">
    <a class="btn btn-primary btn-sm pl-3 pr-3" role="button" href="<%= new_car_path %>"><i class="fas fa-caret-left"></i> Back</a>
  <span class="float-right mb-3">
  <%#= form.submit "Next", class: "btn btn-primary btn-sm pl-3 pr-3" %>
  <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3">Next <i class="fas fa-caret-right"></i></button>
  </span>
  </div>
<% end %>
</div>
</div>

<script>
  $("input.currency_1").val(function(i, val) {
  return val.replace(/^\s*(\$)?/, "$");
});


// added "km" automatically
function auto_km() {
var myValue = $("#add_km").val();
var text = 'km';
if(myValue.indexOf() != 0) {
  myValue = `${myValue} ${text}`;
}
document.getElementById("add_km").value = myValue;
}
</script>