<div class="container">
<div class="row mt-2">
<% if current_user.cars.count < 2 %>
<div class="col-md-12 btn-group btn-breadcrumb">
<% else %>
<div class="col-lg-6 offset-lg-3 btn-group btn-breadcrumb">
<% end %>
    <a href="<%= car_steps_path(step: 1,id: @car.id)  %>" class="btn btn-primary car_details">Car Details</a>
    <a href="#" class="btn btn-default car_pictures">Car Pictures</a>
    <a href="#" class="btn btn-default car_preference">Car Preference</a>
    <% if current_user.cars.count < 2 %>
      <a href="#" class="btn btn-default car_preference">Personal Details</a>
      <a href="#" class="btn btn-default car_preference">License Details</a>
      <a href="#" class="btn btn-default car_preference">Availibility & Pickup</a>
    <% end %>
</div>
</div> 
</div>
<h2 class="heading mt-4">Car Details</h2>
<!--<div class="details background-img">-->
  
<!--</div>-->
<img src="/cr-dtl-1.jpg" class="img-fluid">
<div class="container pt-4">
<div id="multi-form-d" class="car-details">
<%= form_for(@car) do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="wizard">

    <section>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <%= form.label :year %>
        <%#= form.text_field :year %>
        <%= form.select :year, (2013..2019).to_a, prompt: "Select Year"%>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :make %> 
        <%= form.text_field :make  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :model %> 
        <%=  form.text_field :model  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :series %> 
        <%=  form.text_field :series  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :odometer %> 
        <%=  form.text_field :odometer  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <label>Transmission </label>
         <%= form.select :trans_mission, ["Automatic",  "Manual"] %>
        <!--<select>-->
        <!--  <option>Automatic</option>-->
        <!--  <option>Manual</option>-->
        <!--</select>-->
        <%#=  form.text_field :trans_mission  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :body_type %> 
        <%#= form.text_field :body_type  %>
        <%= form.select :body_type, [" Convertible",  "Coupe",  "Sedan",  "SUV",  "Wagon"], prompt: "Select Body Type" %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :colour %> 
        <%= form.text_field :color  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :fuel_type %> 
        <%#= form.text_field :fuel_type  %>
        <%= form.select :fuel_type, ["Unleaded 91",  "Unleaded 95",  "Unleaded 98",  "LPG",  "Electrical"], prompt: "Select Fuel Type" %>
      </div>
      <div class="col-lg-3 col-md-6">
        <label>Power (kW)</label>
        <%= form.text_field :power  %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= form.label :number_of_seats %> 
        <%= form.text_field :number_of_seats  %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :drive_type %> </h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4">
        <%= form.radio_button :drive_type, 'all_wheel'%> 
        <%= label :drive_type, 'All wheel drive' %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'front_wheel' %>
        <%= label :drive_type, 'Front Wheel Drive' %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'rear_wheel' %>
        <%= label :drive_type, 'Rear Wheel Drive' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5>Please provide a description of your car to renters</h5>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">
        <%= form.text_area :description,  rows:"4", placeholder:"Please provide a description as it will appear on your car advertised profile to renters to see before booking, these may include vehicle modifications or any particular notes that you may have regrading your vehicle"  %>
      </div>
    </div> 
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :car_features %></h5>
      </div>
    </div>  
    <div class="checkbox-form f-car">
    <%= form.collection_check_boxes(:car_feature_ids, CarFeature.all, :id, :name) %> 
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <label>License Plate Number</label> 
        <%= form.text_field :liecense_plate_number  %>
      </div>
      <div class="col-md-4">
        <%= form.label :state %> 
        <%#= form.text_field :state  %>
        <%= form.select :state, ["New South Wales","Northern Territory","Queensland","South Australia","Tasmania","Victoria","Western Australia"], prompt: "Select State" %>
      </div>
      <div class="col-md-4">
        <%= form.label :insurance_provider %> 
        <%= form.text_field :insurance_provider  %>
      </div>
      
      <div class="col-md-4">
        <%= form.label :agreed_insurance_value %> 
        <%= form.text_field :agreed_insurance_value  %>
      </div>
    </div>
    </section>
    
  </div>
    <%= form.hidden_field :step, value: 1 %>

  <div class="mt-2 mb-5">
  <span class="float-right mb-3">
  <%#= form.submit "Next", class: "btn btn-primary btn-sm pl-3 pr-3" %>
  <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3">Next <i class="fas fa-caret-right"></i></button>
  </span>
  </div>
<% end %>
</div>
</div>