<%= form_for(@car) do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this @car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="wizard">
    

    <h2>Car Pictures</h2>
    <section>
      
        <%= form.label :images %> 
        <%= form.file_field :images,multiple: true  %>
      <ul>
        <% @car.images.each do |file| %>
          <li>
            <%= image_tag file.variant(resize: "100x100") %>
          </li>
        <% end %>
      </ul>
    </section>

    
    
  <%= form.hidden_field :step, value: 2 %>
    
  </div>
  <%= link_to "Back to Previous Step", car_steps_path(id: @car.id,step: 1) ,class: "btn btn-primary",role: "button" %>
  <%= form.submit "Next", class: "btn btn-primary" %>
<% end %>
  
  
  

  
  
