<div class="container">
<div class="row mt-2">
<div class="col-md-12 btn-group btn-breadcrumb">
    <a href="<%= car_steps_path(step: 1,id: @car.id) %>" class="btn btn-primary car_details">Car Details</a>
    <a href="<%= car_steps_path(step: 2,id: @car.id) %>" class="btn btn-primary car_pictures">Car Pictures</a>
    <a href="<%= car_steps_path(step: 3,id: @car.id) %>" class="btn btn-primary car_availibility">Availibility and Pickup</a>
    <a href="#" class="btn btn-default car_preference">Car Preference</a>
    <a href="#" class="btn btn-default car_liecense">Driver License</a>
    <a href="#" class="btn btn-default car_personal">Personal Details</a>
</div>  
</div>
</div>
<h2 class="heading mt-4">Availibility and Pickup</h2>
<div class="availibility background-img">
  
</div>
<div class="container py-4">
<div id="multi-form" class="car-availibility">
<%= form_for(@car) do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="wizard">
    <section>
      <h5>What is your car's pickup location?</h5>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <label>Suburb</label>
          <%= form.text_field :pickup_suburb, id:"required"  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>Postcode</label>
        <%= form.text_field :pickup_postcode, id:"required"  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>State</label>
        <%= form.text_field :pickup_state, id:"required"  %>
        </div>
      </div>  
      <h5 class="mt-3">What day of the week is your car available?</h5>
      <div class="checkbox-form">
      <% ["Anyday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"].each do |day| %>
    		
        <%= check_box_tag "car[availibility_days][]", day,@car.availibility_days.include?(day) %>
        <%= form.label day %>
    	<% end %>	
    	</div>
    	
    	<h5 class="mt-3">Do you prefer short term or long term rentals?</h5>
      <div class="checkbox-form">
        <%= radio_button_tag "car[rental]","short_term",@car.rental=="short_term"  %>
        <%= form.label "Short Term, 1 to 3 days per week" %>
        <%= radio_button_tag "car[rental]","long_term",@car.rental=="long_term"  %>
        <%= form.label "Long Term, 4 to 7 days per week" %>
      
    	</div>
    	
    	<h5 class="mt-3">How much advance notice do you need?</h5>
      <div class="checkbox-form">
        <%= radio_button_tag "car[advance_notice]","Anytime",@car.advance_notice=="Anytime"  %>
        <%= form.label "Pickup Availible at any time" %>
        
        <%= radio_button_tag "car[advance_notice]","6 to 12 hours",@car.advance_notice=="6 to 12 hours"  %>
        <%= form.label "6 to 12 hours" %>
        
        <%= radio_button_tag "car[advance_notice]","Two days",@car.advance_notice=="Two days"  %>
        <%= form.label "Two days" %>
        
        <%= radio_button_tag "car[advance_notice]","1 to 6 hours",@car.advance_notice=="1 to 6 hours"  %>
        <%= form.label "1 to 6 hours" %>
        
        <%= radio_button_tag "car[advance_notice]","12 to 24 hours",@car.advance_notice=="12 to 24 hours"  %>
        <%= form.label "12 to 24 hours" %>
        
        <%= radio_button_tag "car[advance_notice]","3 days",@car.advance_notice=="3 days"  %>
        <%= form.label "3 days" %>
      
    	</div>
    </section>
    </div>
  <%= form.hidden_field :step, value: 3 %>
  <div class="mt-2">
  <%= link_to "Back to Previous Step", car_steps_path(id: @car.id,step: 2) ,class: "btn btn-primary btn-sm",role: "button" %>  
  <span class="float-right">
  <%= form.submit "Next", class: "btn btn-primary btn-sm" %>
  </span>
  </div>
<% end %>
  
</div>
</div>