<div class="row mt-2">
    <div class="col-md-12 btn-group btn-breadcrumb">
        <a href="#" class="btn btn-<%= clsss1 %> car_details">Car Details</a>
        <a href="#" class="btn btn-<%= clsss2 %> car_pictures">Car Pictures</a>
        <a href="#" class="btn btn-<%= clsss3 %> car_availibility">Availibility and Pickup</a>
        <a href="#" class="btn btn-<%= clsss4 %> car_preference">Car Preference</a>
        <a href="#" class="btn btn-<%= clsss5 %> car_liecense">Driver License</a>
        <a href="#" class="btn btn-default car_personal">Personal Details</a>
    </div>
</div>
