<%= form_with(model: car, local: true, :id => "multi-form") do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="wizard">
    <h2>Car Details</h2>
    <section>
    <div class="row">
      <div class="col-md-3">
        <%= form.label :year %>
        <%= form.text_field :year %>
      </div>
      <div class="col-md-3">
        <%= form.label :make %> 
        <%= form.text_field :make  %>
      </div>
      <div class="col-md-3">
        <%= form.label :model %> 
        <%=  form.text_field :model  %>
      </div>
      <div class="col-md-3">
        <%= form.label :series %> 
        <%=  form.text_field :series  %>
      </div>
      <div class="col-md-3">
        <%= form.label :odometer %> 
        <%=  form.text_field :odometer  %>
      </div>
      <div class="col-md-3">
        <label>Transmission </label>
        <%=  form.text_field :trans_mission  %>
      </div>
      <div class="col-md-3">
        <%= form.label :body_type %> 
        <%= form.text_field :body_type  %>
      </div>
      <div class="col-md-3">
        <%= form.label :color %> 
        <%= form.text_field :color  %>
      </div>
      <div class="col-md-3">
        <%= form.label :fuel_type %> 
        <%= form.text_field :fuel_type  %>
      </div>
      <div class="col-md-3">
        <%= form.label :power %> 
        <%= form.text_field :power  %>
      </div>
      <div class="col-md-3">
        <%= form.label :number_of_seats %> 
        <%= form.number_field :number_of_seats  %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :drive_type %> </h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4">
        <%= form.radio_button :drive_type, '4x4'%> 
        <%= label :drive_type, '4x4' %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'front_wheel' %>
        <%= label :drive_type, 'Front Wheel Drive' %>
        </div>
        <div class="col-md-4">
        <%= form.radio_button :drive_type, 'rear_wheel' %>
        <%= label :drive_type, 'Rear Wheel Drive' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5>Please provide a description of your car to reuters</h5>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">
        <%= form.text_area :description,  placeholder:"Please provide modifications that you might have done to the car"  %>
      </div>
    </div> 
    <div class="row mt-3">
      <div class="col-md-12">
        <h5><%= form.label :car_features %></h5>
      </div>
    </div>  
    <div class="checkbox-form">
    <%= form.collection_check_boxes(:car_feature_ids, CarFeature.all, :id, :name) %> 
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <%= form.label :license_plate_number %> 
        <%= form.text_field :liecense_plate_number  %>
      </div>
      <div class="col-md-4">
        <%= form.label :state %> 
        <%= form.text_field :state  %>
      </div>
      <div class="col-md-4">
        <%= form.label :insurance_provider %> 
        <%= form.text_field :insurance_provider  %>
      </div>
    </div>
    </section>

    <h2>Car Pictures</h2>
    <section>
      
        <%= form.label :images %> 
        <%= form.file_field :images,multiple: true  %>
      <ul>
        <% @car.images.each do |file| %>
          <li>
            <%= image_tag file.variant(resize: "100x100") %>
          </li>
        <% end %>
      </ul>
    </section>

    <h2>Availibility and Pickup</h2>
    <section>
      <h5>What is your car's pickup location?</h5>
      <div class="row">
        <div class="col-md-4">
          <label>Suburb</label>
          <%= form.text_field :pickup_suburb  %>
        </div>
        <div class="col-md-4">
          <label>Postcode</label>
        <%= form.text_field :pickup_postcode  %>
        </div>
        <div class="col-md-4">
          <label>State</label>
        <%= form.text_field :pickup_state  %>
        </div>
      </div>  
      <h5 class="mt-4">What day of the week is your car available?</h5>
      <div class="checkbox-form">
      <% ["Anyday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"].each do |day| %>
    		
        <%= check_box_tag "car[availibility_days][]", day,@car.availibility_days.include?(day) %>
        <%= form.label day %>
    	<% end %>	
    	</div>
    </section>

    <h2>Drivers License</h2>
    <section>
      <div class="row">
        <div class="col-md-4">
          <label>Isssuing Country</label>
          <%= form.text_field :driving_liecense_country  %>
        </div>
        <div class="col-md-4">
          <label>State</label>
          <%= form.text_field :driving_liecense_state  %>
        </div>
        <div class="col-md-4">
          <label>Driver's Licence Number</label>
          <%= form.number_field :driving_liecense_number  %>
        </div>
        <div class="col-md-4">
          <label>First Name</label>
          <%= form.text_field :driving_liecense_firstname  %>
        </div>
        <div class="col-md-4">
          <label>Middle Name</label>
          <%= form.text_field :driving_liecense_middlename  %>
        </div>
        <div class="col-md-4">
          <label>Last Name</label>
          <%= form.text_field :driving_liecense_lastname  %>
        </div>
      </div>
      <p class="font-weight-bold mt-3">Please enter your name as it appears on your Driver's license</p>
    </section>
    
    <h2>Personal Details</h2>
    <section>
      <h5>Address</h5>
      <div class="row">
        <div class="col-md-6">
          <%= form.label "House / Unit / Street Number" %> 
          <%= form.number_field :personal_house_number  %>
        </div>
        <div class="col-md-6">
          <%= form.label "Steet Name & Type" %> 
          <%= form.text_field :personal_street_name  %>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-4">
          <%= form.label "Suburb" %> 
          <%= form.text_field :personal_suburb  %>
        </div>
        <div class="col-md-4">
          <%= form.label "State" %> 
          <%= form.text_field :personal_state  %>
        </div>
        <div class="col-md-4">
          <%= form.label "Postcode" %> 
          <%= form.text_field :personal_postcode  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= form.label "Date of Birth" %> 
          <%= form.date_field :personal_dob  %>
        </div>
        <div class="col-md-6">
          <%= form.label "Mobile Number" %> 
          <%= form.text_field :personal_mobile  %>
      </div>  
      </div>
    </section>
  </div>
  <%= form.submit "Save form",:name => "draft",:remote => true %>
<% end %>
  
  
  

  
  
