<div class="container">
<div class="row mt-2">
<div class="col-md-12 btn-group btn-breadcrumb car-details-tabs main-tabs">
    <a href="#" class="btn btn-primary no-link car_details" style="margin-left: -5px !important;">Car Details</a>
    <a href="#" class="btn btn-primary no-link car_pictures" style="margin-left: -5px !important;">Car Pictures</a>
    <a href="#" class="btn btn-primary no-link car_preference" style="margin-left: -5px !important;">Car Preference</a>
   <a href="#" class="btn btn-primary no-link presonal_details no-link" style="margin-left: -5px !important;">Personal Details</a>
      <a href="#" class="btn btn-primary driver_license active">Driver License</a>
      <a href="#" class="btn btn-primary availibility_pickup no-link" style="margin-left: -5px !important; z-index:0 !important;">Availibility & Pickup</a>
</div>
</div>
</div>
<h2 class="heading mt-4">Drivers License</h2>
<div class="w-100">
<img src="/d-ls2.jpg" class="img-fluid background-bg-arow">
</div>
<div class="container py-4">
<div id="multi-form" class="car-liecense">
<%= form_for(@user) do |form| %>
<%  address = Geocoder.search(request.remote_ip).first %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="wizard">
    
    <section>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <label>Isssuing Country</label>
          <%= form.text_field :driving_liecense_country,value: address.country  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>State</label>
          <%= form.text_field :driving_liecense_state,value: address.state  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>Driver's License Number</label>
          <%= form.text_field :driving_liecense_number, required: true, title:"Driving license number should be 7 characters"  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>First Name</label>
          <%= form.text_field :driving_liecense_firstname  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>Middle Name</label>
          <%= form.text_field :driving_liecense_middlename  %>
        </div>
        <div class="col-lg-4 col-md-6">
          <label>Last Name</label>
          <%= form.text_field :driving_liecense_lastname  %>
        </div>
      </div>
      
      <!--<div class="row mt-4">-->
      <!--  <div class="col-md-5 col-sm-6 col-lg-4 offset-lg-2 offset-md-1">-->
      <!--  <p class="lead">Driver's License Front Image</p>-->
      <!--  <div class="custom-file-container" data-upload-id="image-front">-->
      <!--    <label class="custom-file-container__custom-file d-none" > -->
      <!--    <= form.file_field :licensefront, id:"front", class:"custom-file-container__custom-file__custom-file-input"  %>-->
      <!--      <span class="custom-file-container__custom-file__custom-file-control">-->
      <!--      </span>-->
      <!--  </label>-->
      <!--  <= form.hidden_field :licensefront_remove, id:"delete-picture-front" %>-->
      <!--    <a href="javascript:void(0)" class="custom-file-container__image-clear custom-file-container__image-clear-front float-right btn btn-sm" title="Clear Image">x</a>-->
      <!--  <div class="custom-file-container__image-preview custom-file-container__image-preview-front">-->
      <!--  </div>-->
      <!--  </div>-->
      <!--</div>-->
      <!--  <div class="col-md-5 col-sm-6 col-lg-4">-->
      <!--    <p class="lead">Driver's License Back Image</p>-->
      <!--    <div class="custom-file-container" data-upload-id="image-back">-->
      <!--      <label class="custom-file-container__custom-file d-none" > -->
      <!--      <= form.file_field :licenseback, id:"back", class:"custom-file-container__custom-file__custom-file-input"  %>-->
      <!--        <span class="custom-file-container__custom-file__custom-file-control">-->
      <!--        </span>-->
      <!--    </label>-->
      <!--    <= form.hidden_field :licenseback_remove, id:"delete-picture-back" %>-->
      <!--      <a href="javascript:void(0)" class="custom-file-container__image-clear custom-file-container__image-clear-back float-right btn btn-sm" title="Clear Image">x</a>-->
      <!--    <div class="custom-file-container__image-preview custom-file-container__image-preview-back">-->
      <!--    </div>-->
      <!--    </div>-->
      <!--  </div>-->
        
      <!--</div>-->
      <p class="mt-3 license-bottom-text">Please enter your name as it appears on your Driver's license</p>
      <p class="mt-3 license-bottom-text">Your  information  will  not  be  made  public</p>
    </section>
  
  <%= form.hidden_field :step, value: 2 %>  
    
  </div>
  <div class="mt-2">
  <%#= link_to "Back", personaldetails_path ,class: "btn btn-primary btn-sm",role: "button"%>
  <a href="<%=personaldetails_path%>" class="btn btn-primary btn-sm"><i class="fas fa-caret-left"></i> Back</a>
  <span class="float-right">
  <%#= form.submit "Next", class: "btn btn-primary btn-sm" %>
  <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3">Next <i class="fas fa-caret-right"></i></button>
  </span>
  </div>
<% end %>
  
</div>
</div>


 <script>
// $(document).ready(function () {
//   < carfront = @car.licensefront.url %>
  
//     var firstUpload = new FileUploadWithPreview('image-front');
    
//     $('#front').on('change', function (event) {
//         var _this = this;
//         var selectedFilesfront = this.files.length;
//         if (selectedFilesfront != 0) {
//             $('#delete-picture-front').val('0');
//         }
//     });    

// $('.custom-file-container__image-preview-front').click(function(){
//   $('#front').click();

//   });
//   $('.custom-file-container__image-clear-front').click(function(){;
//   $('.custom-file-container__image-clear-front').hide();
//   $('#delete-picture-front').val('1');

//   });
//   $(".custom-file-container__image-preview-front").css('background-image','url("<= carfront %>")');
//   var background = $('.custom-file-container__image-preview-front').css('background-image')
//     if (background.indexOf("/missing.png") >= 0) {
//       $('.custom-file-container__image-clear-front').hide();
//     }
//   else{
//     $('.custom-file-container__image-clear-front').show();
//   }
// });
// $(document).ready(function () {
//   < carback = @car.licenseback.url %>
//     var firstUpload = new FileUploadWithPreview('image-back');
//     $('#back').on('change', function (event) {
//         var _this = this;
//         var selectedFilesback = this.files.length;
//         if (selectedFilesback != 0) {
//             $('#delete-picture-back').val('0');
//         }
//     }); 
// $('.custom-file-container__image-preview-back').click(function(){
//   $('#back').click();
//   });
//   $('.custom-file-container__image-clear-back').click(function(){;
//   $('.custom-file-container__image-clear-back').hide();
//   $('#delete-picture-back').val('1');

//   });
//   $(".custom-file-container__image-preview-back").css('background-image','url("<= carback %>")');
//   var background = $('.custom-file-container__image-preview-back').css('background-image')
//     if (background.indexOf("/missing.png") >= 0) {
//       $('.custom-file-container__image-clear-back').hide();
//     }
//   else{
//     $('.custom-file-container__image-clear-back').show();
//   }
  
// });
</script>