<div class="container-fluid pt-5 pb-5" >
  <div class="row">
  	  <div class="loginmodal-container loginmodal-container-new">
  			<div class="loginmodal-container-2">
            <table class="table table-bordered mt-3">
              <tbody>
                <tr class="text-center h4">
                  <th colspan="2">Car Details</th>
                </tr>
                  <tr>
                    <th>Year</th>
                      <td width="50%"> <%= @car.year %></td>
                  </tr>
                  <tr>
                    <th>Make</th>
                      <td><%= @car.make %></td>
                  </tr>
                  <tr>
                    <th>Model</th>
                      <td><%= @car.model %></td>
                  </tr>
                  <tr>
                    <th>Series</th>
                      <td><%= @car.series %></td>
                  </tr>
                  <tr>
                    <th>Odometer</th>
                      <td><%= @car.odometer %></td>
                  </tr>
                  
                  <tr>
                    <th>Transmission</th>
                      <td><%= @car.trans_mission %></td>
                  </tr>
                  
                  <tr>
                    <th>Body Type</th>
                      <td><%= @car.body_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Color</th>
                      <td><%= @car.color %></td>
                  </tr>
                  
                  <tr>
                    <th>Fuel Type</th>
                      <td><%= @car.fuel_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Power (kW)</th>
                      <td><%= @car.power %></td>
                  </tr>
                  
                  <tr>
                    <th>Number of Seats</th>
                      <td><%= @car.number_of_seats %></td>
                  </tr>
                  
                  <tr>
                    <th>Drive Type</th>
                      <td><%= @car.drive_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Description</th>
                      <td><%= @car.description %></td>
                  </tr>
                  
                  <tr>
                    <th>License Plate Number</th>
                      <td><%= @car.liecense_plate_number %></td>
                  </tr>
                  
                  <tr>
                    <th>State</th>
                      <td><%= @car.state %></td>
                  </tr>
                  
                  <tr>
                    <th>Insurance Provider</th>
                      <td><%= @car.insurance_provider %></td>
                  </tr>
                  
                  <tr>
                    <th>Agreed Insurance Value</th>
                      <td><%= @car.agreed_insurance_value %></td>
                  </tr>
                </tbody>
              </table>  
              <table class="table table-bordered mt-3">
              <tbody>
                  <tr class="text-center h4">
                  <th colspan="2">Availability and Pickup</th>
                </tr>
                  <tr>
                    <th>Availibility Days</th>
                     <td width="50%">
                          <ul>
                              <% @car.availibility_days.each do |day| %>
                                  <li> <%= day %></li>
                              <% end %>
                          
                          </ul>
                      
                      </td>
                  </tr>
                  
                  <tr>
                    <th>Pickup Suburb</th>
                      <td><%= @car.pickup_suburb %></td>
                  </tr>
                  
                  <tr>
                    <th>Pickup Postcode</th>
                      <td><%= @car.pickup_postcode %></td>
                  </tr>
                  
                  <tr>
                    <th>Pickup State</th>
                      <td><%= @car.pickup_state %></td>
                  </tr>
                  
                  <tr>
                    <th>Rental</th>
                      <td><%= @car.rental %></td>
                  </tr>
                  
                  <tr>
                    <th>Pickup Time</th>
                      <td><%= @car.pickup_time %></td>
                  </tr>
                  
                  <tr>
                    <th>Advance Notice Time</th>
                      <td><%= @car.advance_notice %></td>
                  </tr>
                  </tbody>
              </table>  
              <table class="table table-bordered mt-3">
              <tbody>
                  <tr class="text-center h4">
                  <th colspan="2">Car Preference</th>
                </tr>
                  <tr>
                    <th>Daily Drive Limit</th>
                      <td width="50%"><%= @car.daily_drive_limit %></td>
                  </tr>
                  
                  <tr>
                    <th>Allow Personal/Commercial Use</th>
                      <td><%= @car.allow_personal_commercial_use %></td>
                  </tr>
                  </tbody>
              </table>  
              <table class="table table-bordered mt-3">
              <tbody>
                  <tr class="text-center h4">
                  <th colspan="2">Driver License</th>
                </tr>
                  <tr>
                    <th>Driving License Country</th>
                      <td width="50%"><%= @car.driving_liecense_country %></td>
                  </tr>
                  
                  <tr>
                    <th>Driving License State</th>
                      <td><%= @car.driving_liecense_state %></td>
                  </tr>
                  
                  <tr>
                    <th>Driving License Number</th>
                      <td><%= @car.driving_liecense_number %></td>
                  </tr>
                  <tr>
                    <th>Driving License Firstname</th>
                      <td><%= @car.driving_liecense_firstname %></td>
                  </tr>
                  <tr>
                    <th>Driving License Middlename</th>
                      <td><%= @car.driving_liecense_middlename %></td>
                  </tr>
                  <tr>
                    <th>Driving License Lastname</th>
                      <td><%= @car.driving_liecense_lastname %></td>
                  </tr>
                  <tr>
                    <th>Driving License Front</th>
                      <td><%= link_to "View File",@car.licensefront.url, class:"btn btn-primary btn-sm" %></td>
                  </tr>
                  <tr>
                    <th>Driving License Back</th>
                      <td><%= link_to "View File",@car.licenseback.url, class:"btn btn-primary btn-sm" %></td>
                  </tr>
                  </tbody>
              </table>  
              <table class="table table-bordered mt-3">
              <tbody>
                  <tr class="text-center h4">
                  <th colspan="2">Personal Details</th>
                </tr>
                  <tr>
                    <th>Personal House Number</th>
                      <td width="50%"><%= @car.personal_house_number %></td>
                  </tr>
                  <tr>
                    <th>Personal Street Name</th>
                      <td><%= @car.personal_street_name %></td>
                  </tr>
                  <tr>
                    <th>Personal Suburb</th>
                      <td><%= @car.personal_suburb %></td>
                  </tr>
                  
                  <tr>
                    <th>Personal State</th>
                      <td><%= @car.personal_state %></td>
                  </tr>
                  
                  <tr>
                    <th>Personal Postcode</th>
                      <td><%= @car.personal_postcode %></td>
                  </tr>
                  
                  <tr>
                    <th>Personal Date of Birth</th>
                      <td><%= @car.personal_dob %></td>
                  </tr>
                  
                  <tr>
                    <th>Personal Mobile Number</th>
                      <td><%= @car.personal_mobile %></td>
                  </tr>
                  
                  <tr>
                    <th>Status</th>
                      <td><%= @car.status.humanize %></td>
                  </tr>
                  
                  
                  
                  
                  
              </tbody>
          </table>
          
          
          <center>
          <%= link_to 'Edit', edit_car_path(@car), class:"btn btn-primary btn-sm" %> |
          <%= link_to 'Back', cars_path, class:"btn btn-primary btn-sm" %>
          </center>
          </div>
      </div>    
    </div>  
</div>    