<div class="container-fluid pt-5 pb-5" >
  <div class="row">
  	  <div class="loginmodal-container loginmodal-container-new">
  			<div class="loginmodal-container-2">
            <table class="table table-bordered mt-3">
              <tbody>
                <tr class="text-center h4">
                  <th colspan="2">Car Details</th>
                </tr>
                  <tr>
                    <th>Year</th>
                      <td width="50%"> <%= @car.year %></td>
                  </tr>
                  <tr>
                    <th>Make</th>
                      <td><%= @car.make %></td>
                  </tr>
                  <tr>
                    <th>Model</th>
                      <td><%= @car.model %></td>
                  </tr>
                  <tr>
                    <th>Series</th>
                      <td><%= @car.series %></td>
                  </tr>
                  <tr>
                    <th>Odometer</th>
                      <td><%= @car.odometer %></td>
                  </tr>
                  
                  <tr>
                    <th>Transmission</th>
                      <td><%= @car.trans_mission %></td>
                  </tr>
                  
                  <tr>
                    <th>Body Type</th>
                      <td><%= @car.body_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Colour</th>
                      <td><%= @car.color %></td>
                  </tr>
                  
                  <tr>
                    <th>Fuel Type</th>
                      <td><%= @car.fuel_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Power (kW)</th>
                      <td><%= @car.power %></td>
                  </tr>
                  
                  <tr>
                    <th>Number of Seats</th>
                      <td><%= @car.number_of_seats %></td>
                  </tr>
                  
                  <tr>
                    <th>Number of Cylinders</th>
                      <td><%= @car.cylinders %></td>
                  </tr>
                  
                  <tr>
                    <th>Engine Size</th>
                      <td><%= @car.engine_size %></td>
                  </tr>
                  
                  <tr>
                    <th>Drive Type</th>
                      <td><%= @car.drive_type %></td>
                  </tr>
                  
                  <tr>
                    <th>Description</th>
                      <td><%= @car.description %></td>
                  </tr>
                  
                  <tr>
                    <th>Licence Plate Number</th>
                      <td><%= @car.liecense_plate_number %></td>
                  </tr>
                  
                  <tr>
                    <th>State</th>
                      <td><%= @car.state %></td>
                  </tr>
                  
                  <tr>
                    <th>Insurance Provider</th>
                      <td><%= @car.insurance_provider %></td>
                  </tr>
                  
                  <tr>
                    <th>Agreed Insurance Value</th>
                      <td><%= @car.agreed_insurance_value %></td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered mt-3">
              <tbody>
                  <tr class="text-center h4">
                  <th colspan="2">Car Preference</th>
                </tr>
                  <tr>
                    <th>Daily Drive Limit</th>
                      <td width="50%"><%= @car.daily_drive_limit %> Kilometers per day</td>
                  </tr>
                  
                  <tr>
                    <th>Allow Personal/Commercial Use</th>
                      <td>
                        <% if @car.allow_personal_commercial_use == true %>Private use only
                        <% else %>Commercial use permitted
                       <%end %>
                      </td>
                      
                  </tr>
                  </tbody>
              </table>
          <center>
            <%= link_to current_user.cars.count == 1 ? pickupdetails_path : car_steps_path(id: @car.id,step: 3) ,class: "btn btn-primary mb-1",role: "button" do %>  Back
            <% end %>
             <%#= link_to 'Back', "/my_garage", class:"btn btn-primary mb-1" %>
          </center>
          <center>
          <%= link_to 'Car as Advertised', car_details_path(@car), class:"btn btn-primary" %>
          </center>
          </div>
      </div>    
    </div>  
</div>    