<!DOCTYPE html>
<html>
  <head>
    <title>Tekkova</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="/Favicon.png" type="image/png" sizes="16x16">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <meta name= viewport content= width=device-width initial-scale=1>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  </head>
  <body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176395423-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-176395423-1');
    </script>
      <%= render 'layouts/header' %>

      <!--< if notice || alert %>-->
      <!--  <div class="alert alert-info" role="alert">-->
      <!--    <strong>Info!</strong> <= notice || alert %>-->
      <!--  </div>-->
      <!--<end %>-->
      <% unless params[:controller]=='home' && params[:action]=='admin' %>
      <div class="container-fluid p-0" style="min-height: 70vh;">
      <% end %>  
        <%= yield %>
    <% unless params[:controller]=='home' && params[:action]=='admin' %>
      </div>
    <% end %>
    <% if !(request.path == "/admin" or request.path == "/users" or request.path == "/car_management" or request.path == "/violations" or request.path == "/mass_email" )  %>
      <%= render 'layouts/footer' %>
    <% end %>
    <div class="corona-banner alert alert-info">
  <div class="row">
    <div class="col-11 pr-1">
      <span class="pr-5">Due to unforeseen circumstances such as Covid 19, we have chosen to push back our vehicle registrations process up until the end of November of 2020. Please remain patient with us until we have enough cars listed, Thank you again</span>
    </div>
    <div class="col-1 pl-1">
      <button class="corona-btn btn btn-sm"><i class="fas fa-check"></i></button>
    </div>
  </div>
</div>
  </body>
</html>
<script>
  <% if controller_name  != "registrations"%>
    <% if notice %>
      toastr.success('<%=notice%>');
    <% elsif alert %>
      toastr.error('<%=alert%>');
    <% end %>
  <% end %> 
</script>