<div class="container pt-5 pb-5" >
  	  <div class="loginmodal-container loginmodal-container-edit pt-4">
  			<div class="loginmodal-container-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
  			  <div class="row">
  			    <div class="col-md-6">
  				    <h3 class="text-center mb-3">Edit <%= resource_name.to_s.humanize %></h3>
                <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-md", required: true %>
                </div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                <div class="form-group">
                      <%= f.label "First Name" %>
                      <%= f.text_field :firstname, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Last Name" %>
                    
                      <%= f.text_field :lastname, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Phone Number" %>
                    
                      <%= f.number_field :personal_mobile, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "House Number" %>
                    
                      <%= f.number_field :personal_house_number,min: 0, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Street Name" %>
                    
                      <%= f.text_field :personal_street_name, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Suburb" %>
                    
                      <%= f.text_field :personal_suburb, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "State" %>
                    
                      <%= f.text_field :personal_state, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Post Code" %>
                    
                      <%= f.text_field :personal_postcode, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Post Code" %>
                    
                      <%= f.date_field :personal_dob, class: "form-control form-control-md", required: true %>
                </div>
                <div class="form-group">
                    
                      <%= f.label "Phone Number" %>
                    
                      <%= f.number_field :personal_mobile, class: "form-control form-control-md", required: true %>
                </div>
  			    </div>
            <div class="col-md-6">
                    
                 <h3 class="text-center mb-3">Driving License Details</h3>
                
                <div class="form-group">
                    
                      <%= f.label "Country" %>
                    
                      <%= f.text_field :driving_liecense_country, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "State" %>
                    
                      <%= f.text_field :driving_liecense_state, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "License Number" %>
                    
                      <%= f.number_field :driving_liecense_number, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "First Name" %>
                    
                      <%= f.text_field :driving_liecense_firstname, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "Middle Name" %>
                    
                      <%= f.text_field :driving_liecense_middlename, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "Last Name" %>
                    
                      <%= f.text_field :driving_liecense_lastname, class: "form-control form-control-md", required: true %>
                    </div>
                
                <div class="form-group">
                    
                      <%= f.label "Driver License Front " %>
                      &nbsp;  &nbsp; <%= (link_to "View Current File",@user.licensefront.url,target: "_blank") if @user.licensefront.present? %>
                    <div class="">
                      <%= f.file_field :licensefront, class: "", required: true %>
                    </div>
                    </div>
                <div class="form-group">
                    
                      <%= f.label "Driver License Back" %>
                      &nbsp; &nbsp; <%= (link_to "View Current File",@user.licenseback.url,target: "_blank") if @user.licenseback.present? %>
                    <div class="">
                      <%= f.file_field :licenseback, class: "", required: true %>
                    </div>  
                    </div>
                <div class="form-group">
                    
                       <%= f.label :password %> &nbsp; (Leave blank if you don't want to change it)
                    
                       <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-md", required: true %>
                    </div>
                <div class="form-group">
                    
                       <%= f.label :password_confirmation %>
                    
                       <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-md" %>
                    </div>
                <div class="form-group">
                    
                       <label>Current password (We need your Current Password to confirm) </label>
                    
                       <%= f.password_field :current_password,required: true, autocomplete: "off", class: "form-control form-control-md" %>
                    </div>
  			      </div>
          </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="form-group">
              <%= f.submit "Update", class: "login loginmodal-submit loginmodal-button" %>
              <%= link_to "Back to My Profile",user_path(@user), class: "text-center login loginmodal-submit loginmodal-button" %>
            </div>
          </div>
        </div>
			  <% end %>
			</div>
    </div>
</div>
