<div class="container-fluid pt-5 pb-5" >
  <div class="row">
  	  <div class="loginmodal-container">
  			<div class="loginmodal-container-2">
  				<h1>Join Tekkova</h1>
  				<%= alert %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages!   %>
        				<%= link_to 'Continue with Facebook',  "#{root_url}users/auth/facebook" ,:class => "login loginmodal-button loginmodal-social loginmodal-fb" %>
    						<%= link_to 'Continue with Google',  "#{root_url}users/auth/google_oauth2" ,:class => "login loginmodal-button loginmodal-google" %>
                <%= f.text_field :firstname , autofocus: true,required: true,class: "form-control form-control-md", placeholder: "Enter Your First Name" %>
                <%= f.text_field :lastname , required: true,class: "form-control form-control-md", placeholder: "Enter Your Last Name" %>
                <%= f.text_field :personal_mobile ,required: true,class: "form-control form-control-md", placeholder: "Enter Your Phone Number" %>
                <%= f.email_field :email, autocomplete: "email",required: true, class: "form-control form-control-md", placeholder: "Enter Your Email" , id: "join_email" %>
                <%= f.password_field :password, autocomplete: "off",required: true, class: "form-control form-control-md pss_next", placeholder: "Enter Your Password"  , id: "join_pword", minlength: 6 %>
                <%= f.password_field :password_confirmation, autocomplete: "off",required: true, class: "form-control form-control-md", placeholder: "Confirm Your Password", id: "join_cpword" %>
                <div class="input-file-container">  
                    <%= f.file_field :profile_image, accept:"image/*", required: true, class:"input-file", :data => { :buttonText => 'bar' } %>
                    <label tabindex="0" for="input-file" class="input-file-trigger bg-primary">Upload Profile Picture</label>
                    <span class="file-return">No File Choosen</span>
                </div>
                <br>
                <br>
                <%#= f.check_box :terms_of_service,required: true %>
                <!--I agree to <a href="/policies">terms of service and privacy policy</a> -->
                <%= f.check_box :offers %> <span class="mb-0">Yes,send me speci al offers,discounts and updates</span><br>
    					<input type="checkbox" required="true"> I Agree to <a href="/terms_and_conditions">Marketplace Terms and Conditions</a>, &nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy_policy">Privacy Policy</a> and <a href="/nd_policy">Non-Discrimination Policy</a><br><br>
    					  <%= f.submit "Sign Up", class: "login loginmodal-button loginmodal-submit", id: "tick", onclick:"myFunction()" %>
      			<% end %>
  			</div>
  				<hr class="hr-or">
  				<p style="text-align: center;">Already a Member? <a href="/users/sign_in"> Login </a></p>
  		</div> 
  </div>
</div>

<%= render 'cars/policies_popup' %>
    <script>
        // $(document).ready(function() {
    
        //     $('#policyModal').modal('show')
        
        // });
        
        $(document).ready(function() {
    if(localStorage.getItem('#policyModal') != 'true'){
        $("#policyModal").modal('show');
        localStorage.setItem('#policyModal','true');
    }
});

    </script>

